.site-header {
  min-height: 100vh;
  width: 100%;
  background-image: url('#{$baseurl}/assets/eaglesnest.jpg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  // filter: saturate(75%) grayscale(0.9);
}

.page-heading {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 25vh;
}

.site-header svg {
  fill: $red-color;
  width: 20%;
  margin-bottom: $spacing-unit;
}

.site-header h1 {
  color: $red-color;
  font-weight: 800;
  @include relative-font-size(3.0);
}

.site-header h2 {
  color: $red-color;
  @include relative-font-size(1.5);
}

.arrow-down {
  position: absolute;
  height: $spacing-unit;
  bottom: 0;
  width: 100%;
  padding: $spacing-unit * 2 0;
}

@keyframes updown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY($spacing-unit);
  }
}

.arrow-down a {
  @include relative-font-size(2.5);
  color: white;
  animation: updown 2s infinite alternate;
  text-decoration: none;
  padding: 0;
  display: block;
  text-align: center;
}

.profile-background {
  width: 150px;
  height: 150px;
  margin: $spacing-unit auto;
  padding: 0;

  .profile-photo {
    background-image: url('#{$baseurl}/assets/hero.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 5px solid $navy-color;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    margin: 10px -10px;
    transform: rotate(90deg);
    display: block;
  }
}
