.site-header {
  min-height: 100vh;
  width: 100%;
  background-image: url('#{$baseurl}/assets/bachelorgulch.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.page-heading {
  text-align: center;
  width: 100%;
  position: relative;
  top: 20%;
}

.site-header h1 {
  color: $grey-color-light;
  font-weight: bolder;
  @include relative-font-size(4.0);
}

.site-header h2 {
  color: $grey-color-light;
  font-weight: bold;
  @include relative-font-size(2.5);
}

.arrow-down {
  position: relative;
  margin: 4em auto 0 auto;
  width: 100%;
}

@keyframes updown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

.arrow-down a {
  font-size: 34px;
  color: $grey-color-light;
  animation: updown 2s infinite alternate;
  text-decoration: none;
  padding: 0;
  display: block;
  text-align: center;
}

.profile-background {
  width: 150px;
  height: 150px;
  margin: auto;
  padding: 0;

  .profile-photo {
    background-image: url('#{$baseurl}/assets/hero.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 10px solid $grey-color-light;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    margin: 10px -10px;
    transform: rotate(90deg)
  }
}
