nav.page-nav {
  background-color: $navy-color;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;

  ul {
    list-style: none;
    margin: auto;
    text-align: center;
  }

  li {
    display: inline-block;
    margin: $spacing-unit $spacing-unit / 2;

    @include media-query($on-palm) {
      margin: $spacing-unit / 4 $spacing-unit / 2;
    }

    a, a:visited {
      font-family: $serif-font-family;
      color: $background-color;
      text-decoration: none;
    }
  }
}
