---
layout: default
---

<div class="home" id="sections">

  {{ content }}

  {% assign sections = site.sections | sort: 'order' %}
  {% if sections.size > 0 %}
    {% for section in sections %}
      <section class="page-section">
        <a class="section-heading" name="{{ section.slug }}">
          <h2 class="section-title">{{ section.title }}</h2>
        </a>
        <div class="section-content">
          {{ section.content }}
        </div>
      </section>
    {% endfor %}
  {% endif %}
</div>
