---
layout: default
---

<div class="home" id="sections">

  {{ content }}

  {% assign sections = site.sections | sort: 'order' %}
  {% if sections.size > 0 %}
    {% for section in sections %}
      <section class="page-section jumptarget" id="{{ section.slug }}">
        <div class="wrapper">
          <h2 class="section-title">{{ section.title }}</h2>
          <div class="section-content">
            {{ section.content }}
          </div>
        </div>
      </section>
    {% endfor %}
  {% endif %}
</div>
